<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <menuitem id="menu_hospital_root" name="Hospital" sequence="0" web_icon="om_hospital,static/description/icon.png"/>
  <menuitem id="menu_hospital_patient_details" name="Patient Details" parent="menu_hospital_root" sequence="0">
    <menuitem action="om_hospital_patient_action" id="menu_hospital_patient" name="Patient" sequence="0"/>
    <menuitem action="hospital_children_patients_action" id="menu_hospital_child_patient" name="Children Patients" sequence="1"/>
    <menuitem action="hostpital_female_patients_action" id="menu_hospital_femaile_patient" name="Female Patients" sequence="2"/>
  </menuitem>
  <menuitem id="menu_hospital_appointment" name="Appointments Menu" parent="menu_hospital_root" sequence="3">
    <menuitem action="om_hospital_appointment_action" id="menu_hospital_appointments" name="Appointments" sequence="1"/>
    <menuitem action="wizard_cancel_appointment_action" id="menu_cancel_appointment" name="Cancel Appointment" sequence="50"/>
  </menuitem>
  <menuitem action="om_hospital_hasan_linkedin_action" id="menu_hospital_hasan_linkedin" name="Hasan LinkedIn" parent="menu_hospital_root" sequence="5"/>
</odoo>
