<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <menuitem id="menu_sales_report_wizard_root" name="Sales Report Menu" sequence="0" web_icon="sales_report,static/description/icon.png"/>
  <menuitem action="sales_report_wizard_action" id="menu_sales_report" name="Show Sales Report" parent="menu_sales_report_wizard_root" sequence="10"/>
</odoo>
